
@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {

    /*@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap);*/
    font-family: Rancho;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
  
    padding-bottom:30px;
    border-radius: 5px;


}

.navbar {
    background-color: grey;
    padding-top: 5mm;
    padding-bottom: mm;
    font-size: 8mm;

}

.bg-1 {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
}


.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

ul {
    font-size: 8mm;
}

container {
    background-color: grey;
}
